/* :root{ text-shadow: 2px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid red;
    margin: 2%;
    margin: 5%;
    padding: 4%;
    background-image: repeating-linear-gradient(lightgreen, orange, lightyellow, skyblue);
}
/* .submit{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(214, 195, 233);
    border: 5px solid black;
} */
/* 
p:not() { color: darkgreen;
    background-color: blue;
    font-size: 30px;
}
input:hover{ background: rgb(26, 211, 82);
    color: skyblue;
    border: 2px dashed yellow ;
    margin: 2%;
    padding: 2%;
}
input:active{ background: rgb(71, 155, 15);
    color: rgb(23, 28, 31);
    border: 5px dotted rgb(136, 136, 64) ;
    margin: 3%;
    padding: 4%;
    font-size: 30px;
/* } */
/* label:active{ background: rgb(155, 172, 144);
    color: rgb(220, 235, 19);
    border: 5px dashed rgb(34, 34, 26) ;
    margin: 3%;
    padding: 4%;
    font-size: 40px;
    font-style: italic;
}
label:hover{ background: rgb(187, 15, 110);
    color: rgb(4, 14, 6);
    border: 2px dotted rgb(67, 8, 160) ;
    margin: 2%;
    padding: 2%;
} */
/* form{ 
    color: rgb(230, 245, 20);
    border: 2px dotted darkblue;
    float: left;
    /* margin: 2%; */
    /* padding: 2%;
    margin-left: 0%;
    background-image: url(https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?auto=compress&cs=tinysrgb&w=600);
} */ 
/* img{
    float: right;
    width: 45%;
} */ 

	/* Styling the body element
		like body color and margin */
		
		body {
			background-color: #7d849b;
            color: gold;
            font-weight: 1000;
            background-image: url(https://imgk.timesnownews.com/story/1539580060-apj_abdul_kalam.jpg?tr=w-1200,h-900);
            
			margin: 20%;
		}
      ::not(img){
            float: left;
            color: black;
      }

		/* Styling the Title and giving
		shadow to the title */
		#title {
			text-align: center;
			text-shadow: 5px 5px 10px white;
			font-size: 7rem;
		}

		/* Setting width and display
		type of image */
		img {
			display: inline-block;
			width: 100%;
		}

		/* Setting font color and font
		size of the image-caption */
		#caption {
			font-size: 17px;
			font-family: Gill Sans;
			color: black;
		}

		/* Styling the content of the page like-
		padding, font-size, font color etc.*/
		div#tribute-data {
			background-color: rgb(46, 139, 87, 0.25);
			box-shadow: 20px 20px 20px #98FB98;
			font-family: Georgia;
			padding: 25px 25px;
			margin: 11px;
			margin-top: 50px;
		}

		/* Styling the title of the content */
		h1.title-APJ {
			font-size: 35px;
			color: white;
			text-align: center;
			text-shadow: 5px 5px 10px black;
		}

		/* Styling the link provided at the end */
		#tribute-link {
			text-decoration: none;
			color: black;
		}